<div class="row">
  <form action="/registration" method="POST">

    <div class="row" id="input">
      <div class="four columns">
        <h3>Reg Numbers:</h3><input type="text" name="inputName" class="Name"></input>    
      </div>
      
      <div class="row" id="AddBtn">
      <div class="three columns">
      <button type="submit" class="AddBtn" value="ADD" id="btnAdd">ADD</button>
      </div>
      </div>
  </form>

  <form action="/select" method="POST">
  <div class="row">
    <div class="four columns">

    </div>
  </div>
    <div class="row">
        <div class="four columns">
        <h3>Towns:</h3>
        <select id="Select" id="opt">
          <option value="allTowns">All towns</option>
          <option value="CA ">CapeTown</option>
          <option value="CJ ">Paarl</option>
          <option value="CAW">George</option>
          <option value="CL ">Stellenbonch</option></p></b>
        </select>
      </div>
    </div>
    {{!-- <div class="row"id="clear"> --}}
       <div class="six columns">
            <input type="button" name="clear" value="clear" class="clear"id="btnClear">
          </div>
    {{!-- </div> --}}
      
  </form>
 
    {{!-- <div class="message">
    </div> --}}
      
      {{!-- <form action="/clear" method="POST">
        <div class="row">
           <div class="twelve columns">
            <input type="button" name="clear" value="clear" class="clear"id="btnClear">
          </div>
        </div>
      </form> --}}
     
    <div class="display">
      {{#each regs}}
      {{reg}}
      {{name}}
      {{/each}}
    </div>

  <div class="entryOne">
      <span class="">{{message.entryOne}}</span>
  </div>
  <div class="entryTwo">
      <span class=""> {{message.entryTwo}}</span>
  </div>
  <div class="entryThree">
      <span class=""> {{message.entryThree}}</span>
  </div>
    <div class="registration"></div>
   <a href ="/plates">town_name</a>
  </div>
